$parent-width: 300px;
$card-width: 400px;

#parent {
  width: $parent-width;
  border: 1px solid #ccc;
}

#subject {
  width: 120px;
  height: 80px;
}

@media (min-width: 350px) and (max-width: 499px) {
  #subject {
    width: $card-width;
  }
}
