$parent-width: 300px;
$card-min-width: 400px;

.page {
  margin: 0;
}

.parent {
  width: $parent-width;
  border: 1px solid #ccc;
}

.card {
  width: 120px;
  height: 80px;
  user-select: none;
}

@media (min-width: 350px) and (max-width: 499px) {
  .card {
    min-width: $card-min-width;
  }
}
